<section class="forget-password">  
  <div class="forgot-wrapper">
      <div class="form-inner">
        <div class="forget-content">
          <i class="fa-solid fa-lock lock-icon"></i>
          <h1 class="fg-heading">Forget Password?</h1>
          <h4>Provide your email to recover password.</h4>
        </div>  
        <form action="" method="POST" id="forget-password">
          <div class="field">
            <input type="text" name="email" placeholder="Email Address" required>
          </div>
          <div>
            <span id="forget-error" style="color: red;"></span>
          </div>
          <div class="field">
            <button class="btn" type="submit">Reset Password</button>
          </div>
        </form>
      </div>
    </div>

</section>