<section class="forget-password">
    <div class="forgot-wrapper">
      <div class="form-inner">
        <div class="forget-content">
          <i class="fa-solid fa-lock lock-icon"></i>
          <h1 class="fg-heading">Reset Password?</h1>
          <h2><%= email %></h2>
        </div>  
        <form action="" method="POST" id="reset-password">
          <div class="field">
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <div class="field">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
          </div>
          <div>
            <span id="reset-error" style="color:red;"></span>
          </div>
          <div class="field">
            <button class="btn" type="submit">Update Password</button>
         </div>
        </form>
      </div>
    </div>

</section>